Resources:
  AWSEBV2LoadBalancerListenerBlock:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      Actions:
        - Type: redirect
          RedirectConfig:
            Host: "#{host}"
            Path: "/"
            Port: "80"
            Protocol: "HTTP"
            StatusCode: "HTTP_301"
      Conditions: 
        - Field: path-pattern
          PathPatternConfig:
            Values:
              - '/?*'
      ListenerArn: { "Ref": "AWSEBV2LoadBalancerListener" }
      Priority: 1
  AWSEBV2LoadBalancerListenerMain:
    Type: AWS::ElasticLoadBalancingV2::ListenerRule
    Properties:
      Actions: 
        - Type: forward
          ForwardConfig:
            TargetGroups:
              - TargetGroupArn: { "Ref": "AWSEBV2LoadBalancerTargetGroup" }
      Conditions: 
        - Field: path-pattern
          PathPatternConfig:
            Values:
              - '/'
      ListenerArn: { "Ref": "AWSEBV2LoadBalancerListener" }
      Priority: 2
